/Extractores/src/MonticelloExporter/Exporter/bin
/Extractores/src/MonticelloExporter/Exporter/obj
/Extractores/src/MonticelloExporter/Utils/bin
/Extractores/src/MonticelloExporter/Utils/obj
/Extractores/doc
/pms/FiscalCH.isl.bak
/pms/ISLDecrypt.exe
/pms/FiscalCH.isl
